.GameForm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    text-align: left;
    font-size: 22px;

    &__item {
        flex: 0 0 auto;
        margin: 0 25px 25px 0;
        display: flex;
        align-items: center;
    }
    &__btn-wrapper {
        flex: 0 0 100%;
        min-width: 100%;
        text-align: center;
    }
    &__input {
        display: block;
    }
    &__label {
        display: block;
        margin: 0;
        padding-left: 10px;
    }
}
