$font_base: "Lato", sans-serif;
$font_second: "Ubuntu", sans-serif;

$white: #fff;
$black: #000000;
$not-active: #5e5c5c;

$color-bgr: rgba(250, 250, 250, 0.75);
$color-1: rgba(75, 26, 79, 1);
$color-2: #b00922;
$color-3: #f0e10c;
$color-4: #4b1a4f;
