.Game {
    &__keyboard {
        display: flex;
        justify-content: center;
    }
    &__answer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 36px;
        letter-spacing: 1px;
        font-weight: 500;
        height: 74px;
    }
    &__title-summary {
        font-size: 40px;
        font-weight: 500;
    }
}
.keyboard {
    display: flex;
    position: relative;
}
.chord {
    padding: 15px 10px;
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 500;
}
.btn-answer {
    margin-bottom: 15px;
}
