.whiteKey,
.blackKey {
    cursor: pointer;
    border: none;
    outline: none;
}
.whiteKey {
    z-index: 1;
    position: relative;
    display: block;
    width: 26px;
    height: 80px;
    border: none;
    background: white;
    border: 1px solid black;
    &:active {
        background: rgba(#4b1a4f, 0.3);
    }
}
.blackKey {
    z-index: 2;
    position: absolute;
    display: block;
    width: 13px;
    height: 40px;
    background: black;
    border: none;
    top: 0;
    &:active {
        background: rgba(#4b1a4f, 1);
    }
    &:nth-child(2) {
        left: 19.5px;
    }
    &:nth-child(4) {
        left: 44.5px;
    }
    &:nth-child(7) {
        left: 97.5px;
    }
    &:nth-child(9) {
        left: 123.5px;
    }
    &:nth-child(11) {
        left: 149.5px;
    }
}
