@import "../../assets//css/variables.scss";
.Header {
    position: relative;
    z-index: 3;
    padding: 30px 30px;
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
