@import "../../assets/css/breakpoints.scss";
@import "../../assets//css/mixins.scss";

.contentModule {
    flex: 1 1 100%;
    position: relative;
    padding-top: 80px;
    background: {
        image: url("../../assets/images/bgr/piano.svg");
        position: center center;
        repeat: no-repeat;
        size: contain;
    }
    @include mq(lg) {
        background: {
            image: url("../../assets/images/bgr/piano.jpg");
            position: top right;
            size: cover;
            repeat: no-repeat;
        }
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__screen {
        position: relative;
        z-index: 2;
        max-width: 90%;
        min-width: 90%;
        @include mq(md) {
            min-width: 60%;
            max-width: 90%;
        }

        @include mq(xl) {
            min-width: 46%;
            max-width: 46%;
        }

        margin: 0 auto;
        padding: 30px 20px 30px;
        text-align: center;
        max-height: 300px;
        background: rgba(250, 250, 250, 0.75);
        box-shadow: 4px 7px 22px -2px rgba(0, 0, 0, 0.15);
    }
}
